dependency-injector
flask
bootstrap-flask
pygithub
pyyaml
pytest-flask
pytest-cov
docker
BeautifulSoup4
moto
json-logging
flake8
flake8-colors
yamllint
psycopg2-binary
pybase64
prometheus_flask_exporter
prometheus_client

# boto3
# botocore
