dependency-injector
flask
bootstrap-flask
pygithub
pyyaml
pytest-flask
pytest-cov
docker
BeautifulSoup4
moto
json-logging
flake8
flake8-colors
yamllint
psycopg2-binary
aws_secretsmanager_caching
boto3
botocore
aws-secretsmanager
aws-secrets